<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-layout-fragment="title">
    ประวัติคนไข้ HAP/VAP
</div>
<div data-layout-fragment="main">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">เพิ่ม Admission Number (AN)</h2>
        </div>

        <div class="card-block">
            <form data-th-action="@{/{id}/new(id=${id})}" data-th-object="${admissionNumber}" method="post"
                  id="theform">
                <div data-th-replace="fragment/TextField :: input('AN', 'an', true)"></div>
                <div data-th-replace="fragment/TextField :: input('Admission Date', 'admissionDate', false)"></div>
                <button type="submit" class="btn btn-primary">บันทึก</button>
            </form>
        </div>
    </div>
</div>
<div data-layout-fragment="script">
</div>

</body>
</html>