<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div data-layout-fragment="title">
    ประวัติคนไข้ HAP/VAP
</div>
<div data-layout-fragment="main">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">รายชื่อคนไข้</h2>
            <small class="card-subtitle">รายชื่อคนไข้ และ HN ที่ได้รับการวินิจฉัยผ่าน HAP/VAP</small>
        </div>

        <div class="card-block">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-default">เพิ่ม HN</button>
            <div class="modal fade" id="modal-default" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title pull-left">Default modal</h5>
                        </div>
                        <div class="modal-body">
                            <form data-th-action="@{/new}" data-th-object="${hospitalNumber}" method="post"
                                  id="theform">
                                <div data-th-replace="fragment/TextField :: input('HN', 'hn', true)"></div>
                                <div data-th-replace="fragment/TextField :: input('Name', 'name', false)"></div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" onclick="$('#theform').submit()">Save changes
                            </button>
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="data-table" class="table table-bordered">
                    <thead class="thead-default">
                    <tr>
                        <th>Name</th>
                        <th>HN</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>HN</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr data-th-each="l : ${list}">
                        <td data-th-text="${l.hn}"></td>
                        <td data-th-text="${l.name}"></td>
                        <td>
                            <button class="btn-danger btn">ลบ</button>
                            <a href="#" data-th-href="@{/hn/{id}(id=${l.id})}" class="btn btn-primary">View</a></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div data-layout-fragment="script">
    <!-- Vendors: Data tables -->
    <script src="vendors/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="vendors/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
</div>

</body>
</html>