<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/vendors/bower_components/sweetalert2/dist/sweetalert2.min.css">

</head>
<body>
<div data-layout-fragment="title">
    รายละเอียด AN
</div>
<div data-layout-fragment="main">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">รายชื่อ AN ของคนไข้ HN : <span data-th-text="${hn}"></span></h2>
            <small class="card-subtitle">รายละเอียด AN ของคนไข้คนนี้</small>
        </div>

        <div class="card-block">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-default">เพิ่ม AN</button>
            <div class="modal fade" id="modal-default" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title pull-left">เพิ่ม Admission Number (AN)</h5>
                        </div>
                        <div class="modal-body">
                            <form data-th-action="@{/hn/{id}/new(id=${id})}" data-th-object="${admissionNumber}" method="post"
                                  id="theform">
                                <div data-th-replace="fragment/TextField :: input('AN', 'an', true)"></div>
                                <div data-th-replace="fragment/TextField :: input('Admission Date', 'admissionDate', false)"></div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" onclick="$('#theform').submit()">Save changes
                            </button>
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table id="data-table" class="table table-bordered">
                    <thead class="thead-default">
                    <tr>
                        <th>AN</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>AN</th>
                        <th>Date</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr data-th-each="l : ${list}">
                        <td data-th-text="${l.an}"></td>
                    <td data-th-text="${{l.admissionDate}}"></td>
                        <td>
                            <button class="btn-danger btn delete-hn" data-th-attr="data-id=${l.id}">ลบ</button>
                            <a href="#" data-th-href="@{/an/{id}(id=${l.id})}" class="btn btn-primary">View</a></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div data-layout-fragment="script">
    <!-- Vendors: Data tables -->
    <script src="/vendors/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/vendors/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/vendors/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/vendors/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="/vendors/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/vendors/bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
    <script>
        $(function () {

            // Warning Message with function
            $('.delete-hn').click(function () {
                var id = $(this).data('id');
                swal({
                    title: 'Are you sure?',
                    text: 'You will not be able to recover this AN!',
                    type: 'warning',
                    showCancelButton: true,
                    buttonsStyling: false,
                    confirmButtonClass: 'btn btn-danger',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonClass: 'btn btn-secondary'
                }).then(function () {
                    swal({
                        title: 'AN Removed!',
                        text: 'AN is removed',
                        type: 'success',
                        buttonsStyling: false,
                        confirmButtonClass: 'btn btn-primary'
                    });
                    window.location = '/hn/' + id + '/delete';
                });
            });
        })
    </script>
</div>

</body>
</html>