<!DOCTYPE html>
<html lang="en" data-layout-decorator="layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div data-layout-fragment="title">บันทึกการรักษา</div>
<div data-layout-fragment="main">
    <div class="row">
        <div class="col-lg-4">

            <div class="card">

                <div class="card-header">
                    <h2 class="card-title">การรักษาของ AN เลขที่ <span data-th-text="${admissionNumber.an}"></span></h2>
                    <small class="card-subtitle">จดบันทึกและประวัติการรักษาทั้งหมดของ HN เลขที่ <span
                            data-th-text="${admissionNumber.hn}"></span></small>
                </div>

                <div class="card-block">

                    <form data-th-action="@{/an/{id}/updateAuxData(id=${id})}" method="post"
                          data-th-object="${admissionNumber}">
                        <div data-th-replace="fragment/RadioField :: radio('Outcome Of Treatment','outcome',${outcomes})"></div>
                        <br>
                        <br>
                        <div
                                data-th-replace="fragment/CheckboxField :: checkbox('Diagnosis at time of hospital admission', 'diagnosis', ${diagnosisAtTimeOfHospitalAdmission})">
                        </div>
                        <div data-th-replace="fragment/TextField :: input('Other', 'diagnosisOther',false)"></div>
                        <br>
                        <br>
                        <div
                                data-th-replace="fragment/CheckboxField :: checkbox('Prior Antiobiotics', 'priorAntiobiotics', ${diagnosisAtTimeOfHospitalAdmission})">
                        </div>
                        <div data-th-replace="fragment/TextField :: input('Other', 'priorAntiobioticsOther',false)"></div>
                        <button type="submit" class="btn btn-primary">บันทึก</button>
                    </form>

                </div>

            </div>
            <div class="card">
                <div class="card-block">
                    ยาเดิม
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    note การรักษา
                </div>
            </div>
        </div>
    </div>
</div>
<div data-layout-fragment="script"></div>

</body>
</html>